*{
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

@keyframes fade-in{
    from{opacity: 0;}
    to(opacity: 1;)
}

@keyframes rotation{
    from{transform: rotateY(-90deg);}
    to{transform: rotateY(0deg);}
}

ul li{
    display: inline-block;
    padding: 0 5px;
}

a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}

header{
    display: block;
    height: 100vh;
    background-color: #121617;
    color: white;
}

header h1, header h2{
    display: inline-block;
    font-weight: 200;
}

.nome{
    display: flex;
    align-items: center;
    padding: 0;
    cursor: default;
}

h1{
    font-size: 23px;
    padding: 0px 10px;
}

h2{
    font-size: 18px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

header ul li a{
    color: white;
}

header ul li a:hover{
    color: rgb(201, 201, 201);
}

.dropdown button{
    display: none;
}

#foto-descricao{
    width: 75vw;
    text-align: center;
    margin: 100px auto;
}
#foto-descricao img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: rotation;
    animation-duration: 1.5s;
}

#foto-descricao p{
    font-size: 28px;
    padding: 50px 0;
    animation-name: fade-in;
    animation-duration: 7s;
}

main{
    display: block;
    height: 100vh;
    padding: 50px;
}

h3{
    margin: 10px 0 30px 0;
    font-weight: 400;
}

#minhas-habilidades{
    border-left: 10px solid #EDAE49;
    padding: 0 0 0 10px;
}

h4{
    margin: 30px 0 0 0;
    line-height: 70px;
    font-weight: 300;
}

.grid-container{
    display: grid;
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item2{
    grid-column-start: 4;
}

#habilidades{
    font-size: 30px;
}

#blogs ul li,
#habilidades ul li,
#habilidades h4{
    padding:0 0 20px 20px;
}

#blogs{
    font-size: 25px;
}

#blogs ul li{
    display: block;
}

#blogs h3{
    border-left: 10px solid #58BC82;
    padding-left: 10px;
}

#blogs ul li a:hover{
    border-bottom: 1px solid rgb(56, 56, 56);
}

footer{
    height: 45vh;
    background-color: #121617;
    text-align: center;
}

.redes-sociais img{
    width: 30px;
}

footer h4{
    color: white;
    font-size: 20px;
    padding: 100px 0 0 0;
}

footer h5{
    color: white;
    font-size: 28px;
    padding: 30px 0;
    font-weight: 100;
}

@media only screen and (max-width: 600px){
    .nome{
        padding: 10px 0;
    }
    header{
        padding: 0;
    }

    header h1{
        font-size: 14px;
        display: block;
    }

    header h2{
        font-size: 12px;
    }

    header h1, header h2{
        text-align: left;
    }

    header nav{
        display: block;
        padding: 10px;
    }

    .dropdown{
        position: relative;
        display: block;
        text-align: center;
    }

    .dropdown button, .dropdown button:hover, .dropdown button:active{
        display: inline-block;
        background-color: inherit;
        border: none;
        padding: 0;
    }

    .dropdown button:focus + .dropdown-items{
        display: block;
        margin: 0 auto;
    }
    
    .dropdown-items{
        background-color: #fff;
        display: none;
        position: absolute;
        top: 50px;
        width: 80vw;
        min-height: 200px;
    }
    
    .dropdown ul li{
        display: block;
        padding: 10px;
    }
    .dropdown-items ul li a{
        color: black;
    }

    header ul li a{
        font-size: 14px;
    }

    #foto-descricao{
        display: block;
        width: 90%;
    }

    #foto-descricao img{
        width: 150px;
        height: 150px;
    }

    #foto-descricao p{
        font-size: 20px;
    }

    h4{
        line-height: 50px;;
    }
    .grid-item2{
        grid-column-start: 1;
    }

    main{
        padding: 20px;
    }
    #habilidades{
        font-size: 20px;
    }

    #blogs{
        font-size: 20px;
        padding: 0;
    }

    #blogs ul li,
    #habilidades ul li,
    #habilidades h4{
        padding: 0 0 0px 10px;
    }

    main ul li{
        display: block;
        padding: 5px 0 5px 0;
    }

    footer h4{
        font-size: 14px;
    }

    footer h5{
        font-size: 18px;
    }
}