*{
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

body{
    font-family: Montserrat, sans-serif;
}

header{    
    font-style: italic;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.781);
    background-color: #f7f7f7;
}

h2{
    color: rgba(0, 0, 0, 0.644);
    font-size: 20px;
}

nav{
    padding: 20px 0;
}

ul li{
    list-style: none;
}

a, a:hover, a:link, a:visited{
    text-decoration: none;
}

nav ul li{
    display: inline-flex;
}

nav ul li a{
    padding: 13px 10px;
    margin: 0 10px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    background-color: rgb(71, 70, 70);
    color: white;
}
nav ul li a:hover{
    background-color: rgb(77, 77, 77);
    color: white;
    transition-duration: 0.5s;
}

main{
    display: flex;
    flex-wrap: wrap;
    background: url(../img/quadro-negro-bg2.wepg) no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 120vh;
    padding: 0;
    line-height: 30px;
}

#foto-descricao{
    border: 1px solid rgba(58, 58, 58, 0.267);
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 2px;
    height: 560px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
}

#foto-descricao:hover{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0));
}

#foto-descricao img{
    border-radius: 50%;

}

#minhas-habilidades, #blogs{
    padding: 20px;
    font-size: 20px;
}

.habilidades-container, .blogs-container{
    border: 1px solid rgba(0, 0, 0, 0.336);
    display: block;
    padding: 20px;
    margin: 40px 0;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px 5px rgba(73, 73, 73, 0.082);
    text-shadow: 5px 1px 3px rgba(0, 0, 0, 0.062);
    cursor:default;
}

.hard-skills{
    background: linear-gradient(to bottom right, #2f516179, #2f5161af);
    border: none;
    color: white;
}

.hard-skills:hover{
    background: linear-gradient(to bottom right, #2f516179, #2f516188);
}

.soft-skills{
    background: linear-gradient(to bottom right, #72c6ed73, #72c6ed91);
    border: none;
    color: white;
}

.soft-skills:hover{
    background: linear-gradient(to bottom right, #72c6ed73, #72c6ed75);

}
.blogs-container{
    background: linear-gradient(to bottom right, #94642998, #946429c9);
    border: none;
}

.blogs-container:hover{
    background: linear-gradient(to bottom right, #946429ab, #946429a8);
}
.blogs-container ul li a{
    color: white;
}

section h4{
    margin: 0 0 15px 0;
}