* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: rgb(58, 58, 58);
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.trybewarts-header-logo {
  width: 65px;
  margin-left: 10px;
}

#trybewarts-header-title {
  order: 1;
  color: white;
}

.trybewarts-login {
  display: flex;
  order: 2;
  margin-right: 10px;
  height: 60%;
}

.header-radius {
  border: none;
  margin-left: 5px;
  border-radius: 8px;
}

input[type="email"].header-radius ,
input[type="password"].header-radius {
    box-sizing: border-box;
    padding: 0 10px;
}

.header-button {
  background-color: rgb(78, 44, 131);
  color: white;
  align-self: center;
  width: 150px;
  height: 100%;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  width: 30%;
}

#input-lastname {
  width: 50%;
}

#input-email {
    width: 30%;
}

.family {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.conteudo {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
}

.sort-content {
  display: flex;
  justify-content: space-around;
}

#textarea {
  width: 90%;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 8px;
}

input ,
select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(155, 155, 155);
}

main section {
    padding: 5px;
}

#submit-btn {
    padding: 10px 0;
    width: 100px;
    border-radius: 8px;
}

#submit-btn:enabled {
    background-color: rgb(16, 93, 138);
    color: white;
    border: 2px double rgb(255, 255, 255);
}

footer {
  background-color: rgb(50, 167, 145);
  margin-top: 45px;
  padding: 20px;
}

footer h2 {
  font-size: 18px;
  color: white;
}
