* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dbcfb0;
  background-image: url("bordas.png");
  background-repeat: no-repeat;
}

header,
main {
  text-align: center;
}

header {
  margin-top: 20px;
}

h1 {
  font-family: "Fleur De Leah", cursive;
  font-size: 40px;
  font-weight: normal;
}

#color-palette {
  padding: 10px;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

input {
  padding: 5px;
  width: 50px;
}

button {
  padding: 5px;
}

#pixel-board {
  width: 210px;
  margin: auto;
  padding: 10px 0;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
}

.black {
  background-color: black;
}

.metallic-seaweed {
  background-color: #028090;
}

.fire-opal {
  background-color: #f25f5c;
}

.turquoise-green {
  background-color: #97d8b2;
}

.flax {
  background-color: #ddca7d;
}

.rose-madder {
  background-color: #df2935;
}

.lilac-luster {
  background-color: #b59da4;
}

.terra-cotta {
  background-color: #e07a5f;
}

.linha {
  height: 40px;
}
