* {
  margin: 0;
  padding: 0;
}

.selecionado {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

body {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #3b738d;
  color: white;
  height: 15vh;
  display: flex;
  align-items: center;
}

h1 {
  padding: 50px;
}

main {
  background-color: white;
  height: 80vh;
  padding: 0 50px;
  color: rgb(65, 65, 65);
}

p {
  padding: 20px 0;
}

input {
  display: block;
  padding: 10px;
  border-radius: 3px;
  border: 0;
  border-bottom: 1px solid rgb(165, 165, 165);
  font-size: 16px;
  width: 50%;
}

button {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  transition: 200ms;
}

#botoes {
  padding: 10px 0;
}

.tarefas {
  border: 1px solid rgb(202, 202, 202);
  padding: 20px 25px 35px 25px;
  border-radius: 5px;
}

li {
  border-bottom: 1px solid rgb(215, 229, 250);
  padding: 15px 0 0 0;
  color: rgb(88, 88, 88);
}

.bud-green {
  border: 1px solid #418552;
  color: #418552;
}

.bud-green:hover {
  background-color: #418552;
  color: white;
}

.dark-red {
  border: 1px solid #92140c;
  color: #92140c;
}

.dark-red:hover {
  background-color: #92140c;
  color: white;
}

.fawn {
  border: 1px solid #d1c12e;
  color: #d1c12e;
}

.fawn:hover {
  background-color: #d1c12e;
  color: white;
}

.antique-ruby {
  background-color: #832232;
  color: white;
}

.carolina-blue {
  background-color: #0081a7;
  color: white;
}

.rocket-metallic {
  background-color: #897c80;
  color: white;
}

.bittersweet {
  border: 1px solid #f87060;
  color: #f87060;
}

.bittersweet:hover {
  background-color: #f87060;
  color: white;
}
